* {
    margin: 0;
}

html,body {
    height: 100%;
}

#particles-js{
    width: 100%;
    height: 100%;
    padding-bottom: 8px;
    background: linear-gradient(-120deg,#000080,#FF4500);
    /*background-image: url('../main_screen_bg.jpg');*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
