<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nitandhra.root.vulcanzy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vulicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vulicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:hardwareAccelerated="true"/>
        <activity android:name=".Splash"
            android:windowSoftInputMode="stateHidden"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Firebasenot"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Csea_events"
            android:hardwareAccelerated="true"/>
        <activity android:name=".Webevent" android:hardwareAccelerated="true"/>
        <activity android:name=".Signup" android:hardwareAccelerated="true"/>
    </application>

</manifest>